* {
  margin: 0px;
  padding: 0px;
}

.header {
  position: sticky;
  margin-right: 4px;
  top: 0.5px;
  background-color: rgba(96, 247, 121, 0.596);
  width: 149.9em;
}

a {
  margin: 4px 0px;
  font-family: "Newsreader", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 19px;
}
.main {
  background-color: blue;
}
.welcome {
  width: 149.9em;
  height: 73em;
}
