*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    /* background: #16384c; */
}
.cont {
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    margin-top: 10%;
    float: left;
    display: flex;
}
.cont .card{
    position: relative;
    max-width: 300px;
    height: 215px;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
   border: 2px solid rgb(238, 120, 10);
   background-color: rgba(227, 252, 6, 0.76);
    transition: 0.3s ease-in-out;
}
.hed .h2{
 margin-left: auto;   
}

.cont .card:hover{
    height: 420px;
    background:linear-gradient(red,yellow,orange);
    
}
.cont .card .imgBx{
    position: relative;
    width: 260px;
    height: 260px;
    top:-60px;
    left: 20px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    z-index: 1;
    border: 2px;
    display: flex;
}
.cont .card .imgBx img{
    max-width: 100%;
    border-radius: 4px;

}
.cont .card .content{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.cont .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}
/* .sidebar{
    height: 335px;
    width: 60px;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
} */
.icon-box{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    margin:5px auto;
}
.side-text{
    min-width: 0px;
    height: 100%;
    background: #f44336;
    line-height: 0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 0 0 5px;
    overflow: hidden;
    transition: 0.5s;
}
.icon{
    min-width: 50px;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
    text-align: right;    
}
.icon .fa{
    font-size: 25px;
    color: #f44336;
    line-height: 50px;
}
.icon-box:hover .icon{
    color: #f44336;
}
.icon-box:hover .icon .fa{
    color: #fff;
}
.icon-box:hover .side-text{
    min-width: 140px;
}

.icon .fa-phone{
    color:blue; 
    font-size: 25px;
}
.icon .fa-edge{
    color: rgb(33, 173, 228); 
    font-size: 25px;
}
.icon .fa-map-marker-alt{
    font-size: 25px;
}